<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<link rel="stylesheet" th:href="@{/css/menu.css}" />
<script type="text/javascript" th:src="@{/js/angular.js}"></script>
<script type="text/javascript" th:src="@{/js/auth.js}"></script>
<style>
.clsdivloginpanel {
	
	background-color: powderblue;
	height: 200px;
	width: 350px;
	margin-left: 700px;		
	margin-top: 100px;	
}


.clsdivbackgroundhome {
   background-image: url("./css/images/job-consultancy-home-page.jpg");
   background-color: #cccccc;
   background-color:#2ba19e;
   height:100%;
   width:100%;
   position: fixed;
   background-repeat:no-repeat;
   background-size: cover;
   overflow: scroll;
 }


</style>
</head>
<body>
<div id="iddivbackground" class="clsdivbackgroundhome">

<span class="badge">Please <a href="./1" type="GET">Login</a> to continue the jcmswebface.....</p></span>


</div>
</body>
</html>
